.header {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
/* max-width: calc(100vw*(1184/1280)); */
/* margin: 0 auto; */
}


.circle-logo{
  border:1px solid white ;
  /* border-radius: 50%; */
  width: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}


.hello{
font-size: calc(50vw*(195/300));
color:#232323;
margin: 0 auto;

}